<h1>@Model.GetMakeModel()</h1>

<p>@Model.GetYear()</p>
<p>@Model.GetPrice()</p>
<p>@Model.GetMiles()</p>
<p>@Model.GetMessage()</p>

<a href='/cars/new'>Add another car</a>
<a href='/cars'>View all cars</a>
